<div class="container">
  <h2>Make a new cocktail</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @cocktail do |f| %>
        <div class="form-group">
          <%= f.input :name %>
          <%= f.input :color %>
          <%= f.input :description %>
          <%= f.input :image_path, class: 'btn btn-info' %>
          <%= f.input :image_path_cache, as: :hidden %>
        </div>
        <%= f.submit :Create, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

