<% content_for :header do %>
  <h2><%= @cocktail.name %></h2>
<% end %>
<% content_for :url do %>
  <%= @cocktail.image_path.file ? @cocktail.image_path : 'https://images.unsplash.com/photo-1514361659284-59851c90d011?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b19003e0c4450d5a06aefcd04e6a2173&auto=format&fit=crop&w=800&q=60' %>
<% end %>

<%= render 'layouts/banner' %>

<div class="container">
    <div class="container-top">
        <div class="container-cocktail-body">
            <div class="container-left">
                <ul>
                    <% @cocktail.doses.each do |dose| %>
                    <li>
                        <%= dose.ingredient.name %> |
                        <%= dose.description %>
                    </li>
                    <%= link_to dose_path(dose), method: 'delete',data: { confirm: "Keep it! I like it!"} do %>
                    delete!
                    <% end %>
                    <% end %>
                </ul>
            </div>
            <div class="container-center">

            </div>
            <div class="container-right">
                <%= simple_form_for [@cocktail, @dose] do |f| %>
                <%= f.association :ingredient, input_html: {class: 'js-example-basic-single'}, collection: Ingredient.order(:name) %>
                <%= f.input :description %>
                <%= f.submit 'Add',class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </div>
  <div class="container-bottom">
    <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: (1..5).to_a %>
      <%= f.submit 'Add review',class: 'btn btn-success'%>
    <% end %>
    <div class="product">
      <% @cocktail.reviews.each do |review| %>
        <%= render partial: "layouts/review", object: review %>
      <% end %>
    </div>
  </div>
</div>

<%= cl_image_tag @cocktail.image_path, height: 300, width: 400, crop: :fill %>
